APP_ELTOR_USE_PHOENIXD_EMBEDDED="false"
APP_ELTOR_LN_IMPLEMENTATION="cln"
APP_ELTOR_LN_CONFIG="type=cln url=https://YOUR_URL:PORT rune=YOUR_RUNE default=true"
APP_ELTOR_LN_BOLT12="lno***"
APP_ELTOR_USER_DIR="$PWD"
APP_ELTOR_ELTORRC_PATH="$PWD/backend/bin/data"
ACCEPT_INVALID_CERTS=true