/* put your vars here  */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 26, 26, 26;
  --background-end-rgb: 26, 26, 26;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 26, 26, 26;
    --background-end-rgb: 26, 26, 26;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


a {
  color: rgb(245, 54, 245) !important; /* Example color, replace with your desired hex or rgb value */
  text-decoration: none; /* Optionally remove underline */
}

a:hover {
  color: rgb(245, 54, 245); /* Example hover color */
}

a:visited {
  color: purple; /* Example visited color */
}

.anchor {
  color: purple; 
}