/* put your vars here  */
:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

/* Example CSS for responsiveness */
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0px;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  color: rgb(
    245,
    54,
    245
  ) !important; /* Example color, replace with your desired hex or rgb value */
  text-decoration: none; /* Optionally remove underline */
}

a:hover {
  color: rgb(245, 54, 245); /* Example hover color */
}

a:visited {
  color: purple; /* Example visited color */
}

.anchor {
  color: purple;
}
